body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('acai-bg.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: rgba(255, 255, 255, 0.9); /* Fundo branco translúcido */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

h1 {
    color: #6a1b9a;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #6a1b9a;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #5c1378;
}

p {
    font-size: 1rem;
    color: #333;
}

#resultado {
    font-weight: bold;
    margin-top: 15px;
    color: #6a1b9a;
}
